body {
    margin: 0;
    padding: 0;
    background-image: url("background.png");
        background-size: cover;
            overflow: hidden;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin: 0;
        text-align: center;
}
.title-title {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    top: 0%;
}
.image1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
}

.image2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    height: 65%;
}

.image3 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
        height: 65%;
}

#punishment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.hidden {
    display: none;
}

.punishment-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.punishment-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    cursor: pointer;
}

.selected {
    border: 4px solid #FF0000;
}

.punishment-text {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}

button {
    font-size: 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 2;
}

#detail .title {
    margin-top: 100px;
}

#detail .image1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#detail .image3 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
#game-text {
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


/* 设置底色元素 */
.color {
    position: absolute;
    top: 25%;
left: 25%;
    width: 50%;
    height: 50%;
    z-index: 1;
    background-image: url('color.png');
    background-repeat: no-repeat;
    background-size: cover;
}
